.jumbotron{
    text-align: center;
    background-color: aquamarine;
    font-size: 40px;
}


body{
    background-image: url(../images/SavedByTheBell.png);
    background-repeat: repeat;
    font-family: 'Mansalva', cursive;
    font-size: 24px;
}

.container{
    background-color: aqua;
}

.choice{
    border: 1px solid black;
    padding: 20px;
    border-radius: 2px;
    cursor: pointer;
}